[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
commitizen = "*"
pre-commit = "*"
sphinxcontrib-svgbob = "*"
furo = "*"
sphinx-autobuild = "*"
sphinx-inline-tabs = "*"
sphinx-copybutton = "*"
sphinx-tippy = "*"
myst-parser = "*"
sphinx-togglebutton = "*"

[dev-packages]

[requires]
python_version = "3.11"
